<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.mvvm"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MvvmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DataBindSimpleActivity"
            android:label="Data Binding Basic"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.GitHubContributorsActivity"
            android:label="Data Binding List"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.UpdateUserActivity"
            android:label="Data Binding Observable"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ELActivity"
            android:label="EL Sample"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.ConverterActivity"
            android:label="Converter"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.CustomSetterActivity"
            android:label="CustomSetter"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.SearchDebounceActivity"
            android:label="Search Debounce"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
